<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="//use.typekit.net/ahh4wcd.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
<style type="text/css">
  body {
    padding-top: 60px;
  }

  .section {
    padding-top: 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "league-gothic-1","league-gothic-2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
</style>
<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
